h1,
p {
  font-family: Lato;
}

:root {
  --main-grid-margin: 5px;
  --module-height: 8%;
  --module-track-height: 2%;
}

#main {
  display: grid;
  grid-template-rows: 100%;
  grid-column-gap: calc(2 * var(--main-grid-margin));
  grid-template-columns:
    calc(15% - var(--main-grid-margin))
    calc(30% - var(--main-grid-margin))
    calc(55% - var(--main-grid-margin));
}

#main > div {
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  border-color: #ff0000;
  padding: 10px;
}

svg rect.track {
  fill: grey;
  width: 100%;
  height: var(--module-track-height);
  transform: translate(0, calc(var(--module-track-height) / -2));
}

#Level0 svg rect.module {
  width: 80%;
}

#Level1 svg rect.module {
  transform: translate(0, calc(var(--module-height) / -2));
}

svg rect.module {
  stroke-width: 3;
  stroke: black;
  height: var(--module-height);
  transform: translate(0, calc(var(--module-height) / -2));
}

svg text {
  font-size: 24px;
  font-family: Arial;
  text-anchor: middle;
  dominant-baseline: middle;
}
